<form ng-submit="$ctrl.submitTweet()">
  <label htmlFor="message">
    Message
    <textarea id="message" ng-model="$ctrl.message" placeholder="What's happening?" required></textarea>
  </label>
  <button>Honk 🚀</button>
</form>