<honk-layout>
  <pre>{{tweets | json}}</pre>
  <slot-header>
    <div>
      <ul>
        <li>{{username}}</li>
        <li>
          <button ng-click="logout()" class="outline">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </slot-header>
  <slot-main>
    <article>
      <header>
        <create-tweet
          username="username"
        ></create-tweet>
      </header>
      <tweet-card
        ng-repeat="tweet in tweets track by tweet.id"
        tweet-id="{{tweet.id}}"
        author="{{tweet.author}}"
        message="{{tweet.message}}"
        created-at="{{tweet.createdAt}}"
        likes="{{tweet.likes}}"
      />
    </article>
  </slot-main>
</honk-layout>