<div class="tweet-card">
  <div style="display: 'none'">
    <slot name="title" />
  </div>
  <div class="tweet-card__author">
    {{$ctrl.author}} - {{$ctrl.createdAt}}
  </div>
  <p>{{$ctrl.message}}</p>
  <button class="tweet-card__like-button outline" ng-click="$ctrl.likeTweet()">
    {{$ctrl.likes}} ❤️
  </button>
</div>