p.sign-option {
	font-size: 0.9em;
	margin-bottom: 0;
}

article {
	margin: 0 0 2rem;
}

tweet-card {
	border-bottom: var(--border-width) solid var(--card-border-color);
	&:last-of-type {
		border-bottom: none;
	}
}

header {
	padding-left: 1rem;
	padding-right: 1rem;
	h1 {
		margin: 0;
		a {
			color: inherit;
			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				background: none;
			}
			img {
				height: 3rem;
			}
		}
	}
}


:host {
  display: block;
}

.tweet-card {
  padding: 1rem 0;
}

.tweet-card__like-button {
  width: auto;
  display: inline;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0;
  font-size: 0.75em;
}

p {
  margin-bottom: 0.5rem;
}

.tweet-card__author {
  font-size: 0.75rem;
}

#message, button, form {
  margin-bottom: 0;
}

h2 {
	margin-bottom: 1rem;
}

form {
	margin-bottom: 0;
}
